{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 100,
    "tabWidth": 4,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "tailwindFunctions": [
        "clsx",
        "cn",
        "cva"
    ],
    "tailwindStylesheet": "resources/css/app.css",
    "overrides": [
        {
            "files": "**/*.ts",
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": "**/*.tsx",
            "options": {
                "parser": "typescript"
            }
        },
        {
            "files": "**/*.js",
            "options": {
                "parser": "babel"
            }
        },
        {
            "files": "**/*.jsx",
            "options": {
                "parser": "babel"
            }
        },
        {
            "files": "**/*.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}